version: "2.0"
services:
  mongo:
    image: mongo:latest
    container_name: "mongo-eldorado"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    command: mongod --logpath=/dev/null

  rabbitmq:
    image: rabbitmq:management
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_DEFAULT_VHOST: local-vh

  eldorado-tech-service:
    build: ../
    container_name: eldorado-service-v1
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - MONGODB_CONNECTION_STRING=mongodb://mongo:27017/imc-calculator?retryWrites=true&w=majority&ssl=false

